body {
    margin: 0;
    background-color: #F8F4A6;
}
.container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
}
.input-section {
    display: flex;
}
.input-section input {
    flex: 1;
    padding: 5px;
}
.input-section button {
    background-color: #E08E45;
    border: unset;
    color: #fff;
}
.list-section ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 10px;
}
.list-section ul li {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-section ul li .done {
    text-decoration: line-through;
}
.list-section ul li .close {
    background-color: #6B2737;
    color: #fff;
    padding: 10px;
}